<div class="container">
  <div class="row">
    <div class="col">
      <img src="../../../../../../Pakerek/Pakerek-frontend/src/assets/logo/wpc_dna_zip_900g.jpg">
    </div>
    <div class="col">
      <div>
        <div class="text-end fw-bold pb-3">SUPLEMENT DIETY</div>
        <div class="fs-2 fw-bold lh-sm pb-4" style="text-align: justify">Biogenix Whey Genix 2270 g - Vanilla Ice Cream </div>
        <app-add-into-basket [product]="product"></app-add-into-basket>
        <div class="container-fluid d-flex">
          <mat-icon class="p-2 fs-1 w-auto h-auto">local_shipping</mat-icon>
          <div class="p-2">
            <div class="fw-bold text-primary">Darmowa wysyłka od 99,00 zł</div>
            <div class="">Paczkomat InPost</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div>Zalety produktu :</div>
  <div>
    <ul>
      <li>21 g czystej serwatki i tylko 108 kalorii w porcji!</li>
      <li>Wzrost masy mięśniowej (białko)</li>
      <li>Utrzymanie masy mięśniowej (białko)</li>
      <li>Wyjątkowe smaki: truskawka, biała czekolada, owoce leśne, ciasteczko, owoce leśne, lody waniliowe, toffi karmel</li>
      <li>Znakomita rozpuszczalność, delikatna konsystencja</li>
      <li>Białko przed treningiem, po treningu, w szkole, w pracy, w podróży</li>
      <li>Uniwersalne zastosowanie – białko dla profesjonalnych sportowców i osób ćwiczących rekreacyjnie</li>
    </ul>

  </div>

</div>
